.header {
  background-color: rgb(5, 18, 134);
  width: 100%; /* Занимает всю ширину */
  height: 100vh; /* Занимает всю высоту экрана */
  display: flex;
  flex-direction: column; /* Для вертикального размещения */
  align-items: center;
  justify-content: center; /* Центрирует контент вертикально */
  box-sizing: border-box; /* Учитываем отступы */
}

.text {
  font-size: 60px; /* Размер шрифта */
  color: #fff;
  text-align: center; /* Центрируем текст */
  margin-bottom: 20px; /* Отступ между текстом и кнопками */
}

.buttons {
  display: flex; /* Кнопки выровнены в строку */
  gap: 10px; /* Расстояние между кнопками */
}

.button {
  padding: 12px 30px;
  background-color: #0077ff;
  color: #fff;
  border: 0;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #104bee;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
